
/* navbar */
#navbar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav a{
    font-size: 1.1rem;
    padding: 1px 8px;
}
#logo img{
    height: 40px;
    width: 40px;
    align-self: center;
    margin: 9px;
}

/* home section */

.h-primary{
    font-size: 1.6rem;
    text-align: center;
}
#home::before{
    
    height: 80%;
     
}
#home p{
    font-size: 13px;
    text-align: center;
}
.btn{
    font-size: 1rem;
    padding: 3px 5px;
    width: 100px;
}

/* services section*/
#services-container{
   top: 100px;
}
#service{
    flex-direction: column;
}

#h-primary{
    margin-top: 10px;
    font-size: 2rem;
   
}
.box{
    margin: 10px;
}

/* client section */
#our-clients{
    
    top: 100px;
}
#clients{
    flex-wrap: wrap;
}
.client-item img{
    height: 30px;
}

/* contact section*/
#contactus{
    /* width: 300px; */
    top: 110px;
}
.form-group input,
.form-group textarea{
    width: 80%;
}
.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

/* footerr */
footer{
    
    top: 110px;
    text-align: center;
    font-size: 12px;
}
#submitbtn{
    font-size: 10px;
}
#submitbtn:hover{
    background-color: rgb(202, 164, 252);
}
#submitbtn:active{
    background-color: rgb(154, 80, 251);
}